.dash_container_button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 35vh;

}
.container{
    /*margin-top: 25vh;*/
}


.returnDash {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.table {
    margin-top: 20vh;
    width: 95%;
    border-radius: 20px;
}

.addbtn {
    margin-bottom: 20px;
}

.form_create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc_create {
    display: flex;
    flex-direction: column;
}

.table_read {
    margin-top: 70vh;
    width: 85%;
}

.cancel_create {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.myButton2 {
    margin-left: 55px;
}

.read_tableau {
    display: flex;
    justify-content: center;
}

.fakeImg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.containAllDashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.inline-flex {
    font-size: 2rem;
}

.h1Crud {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
}